<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>api</key>
	<string>[41, 4, 4, 52, 22, 86, 74, 72, 0, 4, 12, 67, 0, 27, 71, 18, 18, 93, 30, 27, 30, 26, 90, 27, 27, 1, 2, 31, 4, 1, 53, 88, 90, 89]</string>
	<key>physical</key>
	<string>[110, 3, 21, 37, 23, 15, 13, 72, 17, 28, 28, 29, 0, 8, 8, 24]</string>
	<key>result</key>
	<string>[110, 2, 21, 55, 16, 0, 17]</string>
	<key>status</key>
	<string>[110, 3, 4, 37, 17, 25, 22]</string>
</dict>
</plist>
